.section-title {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
}

#bloques {
  margin: 0 auto;
  max-width: 500px;
}

.bloque {
  display: flex;
  flex-grow: 0;
  background-color: var(--white);
  color: var(--dark);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.bloque .bloque-info {
  margin: 0 20px;
}

.bloque .bloque-info h4 {
  margin-bottom: 10px;
}

.bloque img {
  align-self: flex-start;
  margin: auto;
  float: left;
  max-width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

#listado {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
}

.item-listado {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2553;
  border-bottom: 3px solid rgb(8, 20, 51);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  border-radius: 10px;
}

.item-listado h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-listado .item-block {
  font-size: 50px;
  background-color: var(--white);
  color: var(--dark);
  padding: 30px;
  margin-right: 20px;
}

.item-listado .item-info-small {
  color: #8d8d8d;
}

.available,
.unavailable,
.occupied {
  font-weight: bolder;
}

.available {
  color: var(--available-color);
}

.unavailable {
  color: var(--unavailable-color);
}

.occupied {
  color: var(--occupied-color);
}

.item-listado:hover {
  background-color: #232e68;
}

.bloque:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  #bloques {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
